section.adherence
  .container
    h2.adherence__heading Vậy <span>Tôi sẽ làm thế nào để tham gia chương trình này ?</span>
    .adherence__content
      .row
        .col-xs-12.col-sm-4
          .adherence-item
            .adherence-item__media
              img(src="assets/img/data/join-98x98-1.jpg" width="98" height="98" alt="Tạo tài khoản")
            h5.adherence-item__title Tạo tài khoản
            p.adherence-item__summary Bạn sẽ tạo nhanh một tài khoản bằng chính số điện thoại của mình. Tài khoản này sẽ dùng để sử dụng chương trình trên cả điện thoại và trên máy tính hoặc máy tính bảng
        .col-xs-12.col-sm-4
          .adherence-item__item
            .adherence-item__media
              img(src="assets/img/data/join-98x98-2.jpg" width="98" height="98" alt="Mua chương trình")
            h5.adherence-item__title Mua chương trình
            p.adherence-item__summary Bạn có thể mua chương trình qua hình thức chuyển khoản, nạp bằng thẻ cào điện thoại hoặc các cổng thanh toán trực tuyến khác. Ngay sau khi thanh toán thành công, khóa học của bạn sẽ được kích hoạt
        .col-xs-12.col-sm-4
          .adherence-item__item
            .adherence-item__media
              img(src="assets/img/data/join-98x98-3.jpg" width="98" height="98" alt="Tải ứng dụng và sử dụng")
            h5.adherence-item__title Tải ứng dụng và sử dụng
            p.adherence-item__summary Bạn có thể sử dụng chương trình bất cứ ở đâu, bát cứ lúc nào. Bạn có thể tải ứng dụng trên các kho ứng dụng của:
            p.adherence-item__handle
              a(href="#" title="Available on the App Store")
                img(src="assets/img/btn-app-store.png" width="127" height="36" alt="Available on the App Store")
              a(href="#" title="Get it on Google Play")
                img(src="assets/img/btn-google-play.png" width="127" height="36" alt="Get it on Google Play")
            h5.adherence-item__other Hoặc sử dụng trực tiếp tại trang web
            p.adherence-item__option
              a(href="#" title="www.giaoducsom.com") www.giaoducsom.com
///.adherence
= '\n'