section.panel-course
  .panel-course__banner
    .panel-course__group
      .panel-course__heading
        h3 CHƯƠNG TRÌNH THAI GIÁO
        p Kết nối yêu thương
    p.panel-course__desc Chương trình duy nhất tại VIỆT NAM được nghiên cứu và thực nghiệm trong suốt 6 năm qua bởi những chuyên gia thuộc Viện nghiên cứu giáo dục trẻ thông minh sớm VSK. Chương trình là hệ thống các hoạt động được chuyên gia hướng dẫn chi tiết, cụ thể theo từng NGÀY-TUẦN-THÁNG cùng bạn chăm sóc con yêu trong suốt thai kỳ.
    p.panel-course__note Tất cả những gì có ích nhất cho con và cho mẹ đều nằm ở đây
  .container
    .panel-course__list
      +course-item('assets/img/data/course-98x98-1.jpg', 'Lịch tuần thai giáo', 'Bạn sẽ biết chính xác việc mình cần làm từng ngày cụ thể trong suốt 40 tuần thai kỳ để đảm bảo cho con được phát triển tốt nhất.')
      +course-item('assets/img/data/course-98x98-2.jpg', 'Cẩm nang thai giáo', '90 cẩm nang giúp mẹ biết cách phát triển nhận thức và các giác quan để con thông minh, khỏe mạnh hơn mỗi ngày.')
      +course-item('assets/img/data/course-98x98-3.jpg', 'Thai giáo dinh dưỡng', 'Mẹ bầu sẽ không phải nghĩ xem mình nên ăn gì và không nên ăn gì mỗi ngày, các chuyên gia của chúng tôi đã giúp bạn làm điều đó.')
      +course-item('assets/img/data/course-98x98-4.jpg', 'Thai giáo âm nhạc', 'Những bản nhạc thuộc bản quyền Phương án 0 tuổi và các bản nhạc cổ điển chọn lọc giúp bé phát triển cảm thụ âm nhạc trong suốt quá trình trưởng thành.')
      +course-item('assets/img/data/course-98x98-5.jpg', 'Thai giáo nghệ thuật', 'Hướng dãn mẹ tự làm những món đồ xinh xắn trong thời gian mang bầu sẽ giúp mẹ thư giãn và phát triển trí thông minh của thai nhi.')
      +course-item('assets/img/data/course-98x98-6.jpg', 'Thai giáo mỹ thuật', 'Ngắm những bức tranh của các họa sĩ nổi tiếng thế giới giúp mẹ và con phát triển trí tưởng tượng và gout thẩm mỹ.')
      +course-item('assets/img/data/course-98x98-7.jpg', 'Thai giáo ngôn ngữ', 'Đọc cho con những bài thơ hay là cách tuyệt vời nhất giúp cho con phát triển ngôn ngữ giao tiếp sớm với cảm xúc tốt nhất.')
///.panel-course
= '\n'