section.panel-credibility
  .container
    h3.panel-credibility__heading Bạn băn khoăn <span>Chương trình này của chúng tôi dựa trên cơ sở khoa học nào?</span>
    .panel-credibility__block
      h5.panel-credibility__title 1.Các nhà khoa học hàng đầu thế giới đã nghiên cứu và nói về thai giáo hàng chục năm nay:
      .row
        +credibility-item('assets/img/data/credibility-146x146-1.jpg', '<strong>Tiến sỹ Thomas Verny</strong> (Chủ tịch Hiệp hội Sức khỏe - Tâm lý Tiền và Hậu sản – APPPAH): “Các bằng chứng về sự sống thông minh trong bào thai đang hiện diện khắp nơi. Kiến thức mới này cho phép cha  mẹ có thể đóng góp một cách tích cực, trước và trong khi sinh, cho đứa con yêu quý của mình sức khỏe, hạnh phúc và cảm giác an toàn trong suốt cuộc sống sau này.')
        +credibility-item('assets/img/data/credibility-146x146-2.jpg', '<strong>Giáo sư Peter Hepper</strong> ( GĐ của TT Nghiên cứu Hoạt động của Bào thai - Đại Học Queen, Belfast): “38 tuần phát triển đầu tiên của thai nhi đã từng là bí mật. Sự hiểu biết sâu hơn về phát triển của bào thai mang đến cơ hội để nâng cao sức khỏe, cảm xúc và tâm lý của thai nhi và cung cấp cho các em bé sự khởi đầu tốt nhất có thể.”')
        +credibility-item('assets/img/data/credibility-146x146-3.jpg', '<strong>Giáo sư Bruce Lipton</strong> (Tiến sỹ Sinh vật học về phát triển tế bào):  “Các bước tiến gần đây trong ngành sinh học tế bào đã chỉ ra rằng:Thái độ và lòng tin của cha mẹ có ảnh hưởng mạnh mẽ đến quá trình mã hóa gen con của họ”')
    .panel-credibility__block
      h5.panel-credibility__title 2. Các tổ chức  nổi tiếng trên thế giới cũng nghiên cứu và ứng dụng:
      .row
        +credibility-item('assets/img/data/credibility-146x146-4.jpg', '<strong>Hiệp hội thai giáo Quốc tế - OMAEP:</strong> Tổ chức phi chính phủ đã hoạt động về thai giáo trong 34 năm, tư vấn đặc biệt trong hội đồng kinh tế xã hội của Liên Hợp Quốc.')
        +credibility-item('assets/img/data/credibility-146x146-5.jpg', '<strong>Đại học Thai giáo:</strong> Các bài tập thai giáo của trường “Đại học Thai giáo” của Hoa Kỳ do chuyên gia sản khoa Rene van de Carr sáng lập từ năm 1979.')
        +credibility-item('assets/img/data/credibility-146x146-6.jpg', '<strong>Viện nghiên cứu giáo dục trẻ thông minh sớm VSK:</strong> Được thành lập năm 2010, là tổ chức đầu tiên chuyển giao, nghiên cứu và triển khai chương trình giáo dục thời kỳ sớm tại Việt Nam.')
    .panel-credibility__block
      .panel-credibility__note
        h5.panel-credibility__title 3. ĐẶC BIỆT PHƯƠNG PHÁP THAI GIÁO SISEDIKE <span>(một trong những phương pháp mà chúng tôi ứng dụng)</span>
        p Trường hợp thành công nhất trong lịch sử thai giáo thế giới đã áp dụng phương pháp này (gia đình vợ chồng người Mỹ - Nhật Sisedike). Họ đã có 4 em bé thần đồng được thế giới công nhận.

///.panel-credibility
= '\n'