.modal.modal--finish#modal--finish
  .modal__content
    ul.step
      li.step__item.step__item-active.step__item--finish
        .step__number 1
        .step__desc TẠO TÀI KHOẢN
      li.step__item.step__item-active.step__item--finish
        .step__number 2
        .step__desc THANH TOÁN
    p.modal__message-success Chúc mừng bạn đã mua thành công chương trình <br>THAI GIÁO
    .modal__handle
      a.modal__submit#modal-watch(href="#") VÀO XEM CHƯƠNG TRÌNH

.modal.modal--success#modal-success
  .modal__content
    p.modal__message-success Bạn đã đăng ký nhận thẻ thành công<br>(Bạn sẽ nhận được thẻ trong 24h nếu ở Hà Nội - các tỉnh thành khác là 2-3 ngày<br>Thẻ được giao trong giờ hành chính - các tỉnh ngoài Hà Nội không tính thứ 7 - Chủ Nhật)