.modal.modal--refill#modal--refill
  .modal__content
    ul.step
      li.step__item.step__item-active.step__item--finish
        .step__number 1
        .step__desc TẠO TÀI KHOẢN
      li.step__item.step__item-active
        .step__number 2
        .step__desc THANH TOÁN
    h3.modal__heading thanh toán
    p.modal__message-card Bạn đã nạp thành công: <span class="modal__pricing-success">500.000 đồng</span>.<br>Số tiền để mua chương trình THAI GIÁO là <span class="modal__pricing-need">499.000 đồng</span><br>(Bạn sẽ còn dư <span class="modal__pricing-residual">1000 đồng</span> trong tài khoản)
    p.modal__message-phone Thanh toán qua thẻ cào điện thoại - chọn loại thẻ
    .modal__handle
      a.modal__submit(href="#" data-modal="show" data-src="#modal--finish") THANH TOÁN CHƯƠNG TRÌNH THAI GIÁO
