section.panel-pricing
  .container
    .panel-pricing__block
      h3.panel-pricing__heading KHOẢN ĐẦU TƯ CHO TƯƠNG LAI NÀY <span>Đáng giá bao nhiêu?</span>
      p.panel-pricing__summary Chương trình nghiên cứu thuộc dự án “Đổi thay thế giới từ một cách nhìn”, hướng tới tất cả các em bé đều được mẹ thai giáo nên chỉ áp dụng một khoản phí trị giá <strong><span>890.000 VNĐ</span> trong suốt 40 tuần đồng hành cùng con</strong>.
      p.panel-pricing__summary Với một khoản chi phí rất nhỏ để có một thai kỳ an toàn, khỏe mạnh, một hậu thai kỳ hạnh phúc, viên mãn cùng con yêu phát triển tốt nhất về trí – lực như vậy có xứng đáng để bạn đầu tư hay không?
      h5.panel-pricing__title Và đặc biệt
      p.panel-pricing__media
        img(src="assets/img/data/pricing-314x230.jpg" width="314" height="230" alt="Đổi thay thế giới từ một cách nhìn")
      p.panel-pricing__note Như vậy, mẹ bầu không có bất kỳ rủi ro nào khi tham gia khóa thực hành của VSK. Rủi ro duy nhất là nếu bạn không chủ động mang lại những điều tốt đẹp cho con yêu của bạn, gia đình bạn và chính bạn thì sau này có thể bạn sẽ phải hối tiếc vì mình đã chần chừ.
      p.panel-pricing__note Nếu bạn thấy không hài lòng với khóa học này, bạn chỉ cần gửi mail về địa chỉ support.vsk@gmail.com, bạn sẽ được hoàn tiền 100%. Thời gian hoàn trả lên đến 01 năm kể từ ngày đăng ký học
///.panel-pricing
= '\n'