section.panel-reason#panel-reason
  .container
    .panel-reason__heading.reason-heading
      h3.reason-heading__title Mẹ bầu có biết ?
      p.reason-heading__desc Những căng thẳng khi mang bầu dù ít hay nhiều đều có ảnh hưởng đến thai nhi?<br>Với nhịp sống hiện đại ngày nay, mẹ bầu đón nhận rất nhiều những căng thẳng, áp lực đến từ công việc, các quan hệ xã hội hoặc ngay trong chính gia đình của mình. Và điều này thực sự nguy hiểm.
      h4.reason-heading__sub Mẹ bầu căng thẳng ảnh hưởng đến thai nhi như thế nào?
    .panel-reason__content
      .row
        +reason-item('assets/img/data/article-271x180-1.jpg', 'NGUY CƠ MẮC BỆNH TIM', 'Nếu mẹ trải qua mức độ cực kỳ căng thẳng khi mang thai em bé sẽ có nguy cơ mắc bệnh tim cao hơn so với những đứa trẻ khác.')
        +reason-item('assets/img/data/article-271x180-2.jpg', 'NGUY CƠ BỊ TĂNG ĐỘNG HAY TỰ KỶ, CHẬM NÓI', 'Khi mẹ căng thẳng, lượng hoóc-môn cortisol và dolpamine trong máu sẽ gia tăng và đi qua nhau thai. Những mẹ bị trầm cảm, hệ thống tuyến nội tiết của em bé bị ảnh hưởng nên dễ mắc chứng tự kỷ. Đây cũng là nguyên nhân khiến trẻ chậm phát triển ngôn ngữ.')
        +reason-item('assets/img/data/article-271x180-3.jpg', 'SINH NHẸ CÂN, THIẾU THÁNG', 'Dưới tác động của stress, hoóc-môn  Epinephrine, Norepinephrine và Cortisol được giải phóng và làm co mạch, giảm lưu lượng máu đến nuôi dưỡng thai nhi qua dây rốn. Điều đó ảnh hưởng đến sự phát triển cả về thể chất và tinh thần của em bé.')
        +reason-item('assets/img/data/article-271x180-4.jpg', 'TĂNG NGUY CƠ NHIỄM KHUẨN', 'Khi hàm lượng Cortisol tăng tiết trong một thời gian dài thì hệ thống miễn dịch của cơ thể bị suy yếu và vi khuẩn sẽ lên ngôi.')
        +reason-item('assets/img/data/article-271x180-5.jpg', 'GIẢM KHẢ NĂNG GHI NHỚ VÀ HỌC TẬP', 'Một nghiên cứu về khả năng học tập và trí nhớ của 112 trẻ 6 tuổi cho thấy: Mẹ  bầu có rối loạn lo âu trong thời kỳ đầu của thai kỳ ảnh hưởng tới chỉ số tập trung, chú ý ở trẻ.')
        +reason-item('assets/img/data/article-271x180-6.jpg', 'EM BÉ CÓ THỂ BỊ ĐỒNG TÍNH', '(Theo nghiên cứu của Dick Swaab - gs Đại học Amsterdam): Các hormone cortisol cũng ảnh hưởng đến việc sản xuất hormone giới tính cho thai nhi.')
///.reason
= '\n'