section.panel-solution
  .container
    h3.panel-solution__heading VẬY <span>Có cách nào phòng tránh, cải thiện tình trạng căng thẳng khi mang bầu hay không?</span>
    .panel-solution__content
      p Rất may mắn khi câu trả lời là có. Một dự án cho các mẹ bầu của Viện nghiên cứu giáo dục trẻ thông minh sớm VSK đã có nhiều minh chứng thành công về việc giúp các mẹ bầu giảm thiểu tối đa những căng thẳng trong cuộc sống hàng ngày và giúp giảm thiểu rủi ro cho thai nhi khi mẹ stress.<br>Việc cải thiện môi trường bên trong tử cung người mẹ giúp các em bé yên tâm phát triển toàn diện cả về thể chất và tinh thần.<br>Hãy tạo ra một môi trường sống phù hợp cho trẻ ngay từ khi còn trong bụng mẹ, để giúp em bé có một tâm lý ổn định, hài hòa và vui vẻ hơn.
      h4 Giải pháp mà chúng tôi muốn nói đến ở đây đó chính là việc mẹ bầu <span>thực hành thai giáo cho con</span>
      p Thai giáo là gì? Nó có tác dụng như thế nào? Tôi có áp dụng được không? Bạn có thể tìm hiểu rõ hơn qua video ngắn mà VTV1 đã thực hiện về chương trình thai giáo của VSK ở dưới đây:
      .panel-solution__media
        iframe(width="560", height="315", src="https://www.youtube.com/embed/eO2aSssk89Y", frameborder="0", allowfullscreen)
///.panel-solution