section.testimonial
  .container
    h3.testimonial__heading Cảm nhận của các Mẹ <span>Đã sử dụng chương trình thai giáo của <span>VSK</span></span>
    .testimonial__carousel.owl-carousel(data-carousel='{"items": 1, "loop": true, "center": false, "margin": 0, "autoWidth": false, "rtl": false, "autoHeight": false, "autoplay": false, "autoplayTimeout": 5000, "nav": false, "dots": true}')
      +testimonial-item('#', 'Click để xem video chia sẻ của mẹ Nam Phương trên VTV1', 'assets/img/data/slider-450x310.jpg', 'assets/img/data/slider-1020x310.jpg', 'Những bài tập với thẻ cam giúp con mình hình dung ra khuôn mặt Pizza lúc chào đời đến 90%, cảm ơn thai giáo đã gắn kết bền chặt sợi dây tình cảm giữa hai mẹ con mình.', 'Ngô Nam Phương - mẹ bé Pizza - Quận Hoàng Mai - HN')
      +testimonial-item('#', 'Click để xem video chia sẻ của mẹ Nam Phương trên VTV1', 'assets/img/data/slider-450x310.jpg', 'assets/img/data/slider-1020x310.jpg', 'Những bài tập với thẻ cam giúp con mình hình dung ra khuôn mặt Pizza lúc chào đời đến 90%, cảm ơn thai giáo đã gắn kết bền chặt sợi dây tình cảm giữa hai mẹ con mình.', 'Ngô Nam Phương - mẹ bé Pizza - Quận Hoàng Mai - HN')
      +testimonial-item('#', 'Click để xem video chia sẻ của mẹ Nam Phương trên VTV1', 'assets/img/data/slider-450x310.jpg', 'assets/img/data/slider-1020x310.jpg', 'Những bài tập với thẻ cam giúp con mình hình dung ra khuôn mặt Pizza lúc chào đời đến 90%, cảm ơn thai giáo đã gắn kết bền chặt sợi dây tình cảm giữa hai mẹ con mình.', 'Ngô Nam Phương - mẹ bé Pizza - Quận Hoàng Mai - HN')
      +testimonial-item('#', 'Click để xem video chia sẻ của mẹ Nam Phương trên VTV1', 'assets/img/data/slider-450x310.jpg', 'assets/img/data/slider-1020x310.jpg', 'Những bài tập với thẻ cam giúp con mình hình dung ra khuôn mặt Pizza lúc chào đời đến 90%, cảm ơn thai giáo đã gắn kết bền chặt sợi dây tình cảm giữa hai mẹ con mình.', 'Ngô Nam Phương - mẹ bé Pizza - Quận Hoàng Mai - HN')
    .testimonial__video
      a(href="#" title="Click để xem video chia sẻ của mẹ Nam Phương trên VTV1") Click để xem video chia sẻ của mẹ Nam Phương trên VTV1
///.testimonial
= '\n'