section.panel-utility
	.container
		h3.panel-utility__heading Và <span>Một chương trình thai giáo toàn diện, khoa học và xuất phát từ tình yêu của người mẹ sẽ đảm bảo:</span>
		.panel-utility__content
			.row
				.col-xs-12.col-sm-6
					.utility-item.utility-item--baby
						h4.utility-item__title Lợi ích cho bé
						p.utility-item__media
							img(src="assets/img/data/utility-128x128-1.jpg", width="128", height="128", alt="Lợi ích cho bé")
						ul.utility-item__list
							li Bạn sẽ có một em bé thông minh, hợp tác ngay từ khi chào đời (ít khóc đêm, nhịp sinh hoạt đúng giờ, có tính cách vui tươi, hoạt bát, tự lập)
							li <strong>Phát triển toàn diện:</strong><br>90% Các em bé trong dự án “Thai giáo đặc biệt” của Viện nghiên cứu phát triển toàn diện về trí – lực. Thông minh, mạnh khỏe và có sức đề kháng tốt hơn.
							li Ưu việt: Các em bé được thai giáo ưu việt hơn vì được phát triển não bộ thời kỳ gia tăng mạnh mẽ nhất về mặt số lượng kết nối thần kinh.
							li Khả năng ghi nhớ tốt hơn.
							li Các giác quan nhạy bén hơn nhờ các bài tập mà mẹ tác động khoa học.
							li Được mẹ định hình tính cách và các phẩm chất tốt đẹp từ trong tiềm thức.
				.col-xs-12.col-sm-6
					.utility-item.utility-item--mommy
						h4.utility-item__title Tuyệt vời cho mẹ
						p.utility-item__media
							img(src="assets/img/data/utility-128x128-2.jpg", width="128", height="128", alt="Tuyệt vời cho mẹ")
						ul.utility-item__list
							li Với những bài tập thư giãn và khẳng định tích cực trong trương trình sẽ giúp mẹ “Tâm an”, giảm thiểu rủi ro stress đem lại.
							li Tăng sợi dây kết nối giữa mẹ và thai nhi. Em bé sẽ dễ dàng hòa hợp với gắn bó với mẹ.
							li Dinh dưỡng khoa học và đủ chất từ những món ăn đặc biệt trong chương trình cũng được gửi tới mẹ.
///.panel-utility
= '\n'