.video
  .container
    h3.video__heading Video clip một số em bé đã được áp dụng thai giáo và niềm vui của các mẹ
    .video__carousel.owl-carousel(data-carousel='{"items": 1, "video":true, "lazyLoad":false, "loop": true, "center": false, "margin": 0, "autoWidth": false, "rtl": false, "autoHeight": false, "autoplay": false, "autoplayTimeout": 5000, "nav": false, "dots": true, "responsive": {"0" : {"items": 1, "loop": true}, "768" : {"items": 2, "margin": 20, "loop": true}, "992" : {"items": 3, "margin": 40, "loop": true}}}')
      +video-item('https://www.youtube.com/watch?v=dZdr3BA31YE', 'Bé 3 ngày tuổi đã có thể tập ngẩng đầu')
      +video-item('https://www.youtube.com/watch?v=XEqAwK0onKw', 'Bé 3 ngày tuổi đã có thể tập ngẩng đầu')
      +video-item('https://www.youtube.com/watch?v=VjrEXH_FtsA', 'Bé 3 ngày tuổi đã có thể tập ngẩng đầu')
      +video-item('https://www.youtube.com/watch?v=fznEsRyyaB8', 'Bé 3 ngày tuổi đã có thể tập ngẩng đầu')
///.video
= '\n'